BODY {
    FONT-FAMILY: Arial, sans-serif;
    BACKGROUND-COLOR: #f8f9fa;
}

H2 {
    FONT-SIZE: 20px;
}

.box {
    BORDER: 2px solid black;
    PADDING: 20px;
    TEXT-ALIGN: center;
    BACKGROUND-COLOR: white;
    MARGIN: 10px;
}

.box A {
    TEXT-DECORATION: none;
    COLOR: black;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold;
    DISPLAY: block;
}

.box:hover {
    BACKGROUND-COLOR: #007bff;
}

.box A:hover {
    COLOR: white;
}
