BODY {
    FONT-FAMILY: Arial, sans-serif;
    BACKGROUND-COLOR: #f8f9fa;
    MARGIN: 0;
    PADDING: 0;
}

.component-section {
    BACKGROUND-COLOR: #fff;
    BORDER: 1px solid #ddd;
    PADDING: 15px;
    BOX-SHADOW: 0 0 5px rgba(0,0,0,0.1);
}

.component-section H3 {
    TEXT-ALIGN: center;
    MARGIN-bottom: 20px;
}

.Home {
    POSITION: fixed; 
    TOP: 10px;  
    LEFT: 10px;  
    FONT-SIZE: 17px;
    COLOR: #007bff;
    TEXT-DECORATION: underline;  
    Z-INDEX: 9999; 
    PADDING: 10px;
}

.Home:hover {
    COLOR: #0056b3; 
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}
