<HTML>
    <HEAD>
        <TITLE>Integrated Circuits</TITLE>
        <LINK REL="stylesheet" TYPE="text/css" HREF="ics.css">
        <LINK REL="stylesheet" HREF="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=home" />
    </HEAD>
    <BODY>
        <nav class="navbar">
            <div class="navbar-container">
                <div class="navbar-links">
                    <a href="../homepage.html">Home</a>
                    <a href="search.html">Search</a>
                    <a href="database.html">Database</a>
                </div>
            </div>
        </nav>
		
        <DIV CLASS="container my-4">
			<CENTER>
                <H2>BASIC COMPONENTS</H2>
                <P>Click a component to jump to its section:</P>
                <DIV CLASS="row justify-content-center">
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#timer" CLASS="btn btn-primary m-1">555 Timer</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#ls04" CLASS="btn btn-primary m-1">74LS04</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#ls08" CLASS="btn btn-primary m-1">74LS08</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#ls74" CLASS="btn btn-primary m-1">74LS74</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#ls90" CLASS="btn btn-primary m-1">74LS90</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#pushbutton" CLASS="btn btn-primary m-1">Push Button</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#potentiometer" CLASS="btn btn-primary m-1">Potentiometer</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#leds" CLASS="btn btn-primary m-1">LEDs</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#7seg" CLASS="btn btn-primary m-1">7-Seg Display</A>
                    </DIV>
                    <DIV CLASS="col-4 text-center">
                        <A HREF="#diodes" CLASS="btn btn-primary m-1">Diodes (1N4007)</A>
                    </DIV>
                </DIV>
            </CENTER>
            
            <HR>

            <!-- 555 Timer Section -->
            <DIV ID="timer" CLASS="component-section my-4">
                <H3>555 TIMER</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="555_timer.png" ALT="555 Timer" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>A versatile IC used for timing, oscillation, and pulse generation. It can be configured in astable, monostable, or bistable modes.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Circuit:</B><BR>
                        <IMG SRC="555_circuit.png" ALT="555 Timer Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- 74LS04 Section -->
            <DIV ID="ls04" CLASS="component-section my-4">
                <H3>74LS04 (Hex Inverter)</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="74LS04.png" ALT="74LS04" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>This IC contains six inverter gates. Inverters are used to flip the input logic level, making them essential for digital circuits.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="74LS04_circuit.png" ALT="74LS04 Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- 74LS08 Section -->
            <DIV ID="ls08" CLASS="component-section my-4">
                <H3>74LS08 (AND Gates)</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="74LS08.png" ALT="74LS08" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>This IC features four 2-input AND gates, which output true only if both inputs are true.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="74LS08_circuit.png" ALT="74LS08 Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- 74LS74 Section -->
            <DIV ID="ls74" CLASS="component-section my-4">
                <H3>74LS74 (D Flip-Flops)</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="74LS74.png" ALT="74LS74" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>This dual D flip-flop IC is useful for storing bits and is a basic building block for sequential circuits.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="74LS74_circuit.png" ALT="74LS74 Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- 74LS90 Section -->
            <DIV ID="ls90" CLASS="component-section my-4">
                <H3>74LS90 (Decade Counter)</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="74LS90.png" ALT="74LS90" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>A decade counter IC that counts from 0 to 9, often used in digital clocks and counters.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="74LS90_circuit.png" ALT="74LS90 Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- Push Button Section -->
            <DIV ID="pushbutton" CLASS="component-section my-4">
                <H3>PUSH BUTTON</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="push_button.png" ALT="Push Button" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>A simple momentary switch used to provide user input in digital circuits.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="push_button_circuit.png" ALT="Push Button Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- Potentiometer Section -->
            <DIV ID="potentiometer" CLASS="component-section my-4">
                <H3>POTENTIOMETER</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="potentiometer.png" ALT="Potentiometer" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>A variable resistor used to adjust signal levels or create voltage dividers.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="potentiometer_circuit.png" ALT="Potentiometer Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- LEDs Section -->
            <DIV ID="leds" CLASS="component-section my-4">
                <H3>LEDS</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="leds.png" ALT="LEDs" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>Light Emitting Diodes (LEDs) are used for indication and display purposes in circuits.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="leds_circuit.png" ALT="LED Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- 7-Seg Display Section -->
            <DIV ID="7seg" CLASS="component-section my-4">
                <H3>7-SEGMENT DISPLAY</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="7seg.png" ALT="7-Segment Display" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>This display is used to show numerical information and is often paired with a decoder IC.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="7seg_circuit.png" ALT="7-Segment Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>

            <HR>

            <!-- Diodes Section -->
            <DIV ID="diodes" CLASS="component-section my-4">
                <H3>DIODE (1N4007)</H3>
                <DIV CLASS="row">
                    <DIV CLASS="col-md-4 text-center">
                        <B>Image:</B><BR>
                        <IMG SRC="1N4007.png" ALT="1N4007 Diode" CLASS="img-fluid">
                    </DIV>
                    <DIV CLASS="col-md-4">
                        <B>Description:</B><BR>
                        <P>The 1N4007 is a general-purpose diode used for rectification in power supplies and other circuits.</P>
                    </DIV>
                    <DIV CLASS="col-md-4 text-center">
                        <B>Example Usage:</B><BR>
                        <IMG SRC="1N4007_circuit.png" ALT="Diode Circuit" CLASS="img-fluid">
                    </DIV>
                </DIV>
            </DIV>
        </DIV>
    </BODY>
</HTML>
